/* .form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
} */

.login-container {
  max-width: 400px;
  margin: 7px auto;
  padding: 180px;
  border-radius: 8px;

}

input {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
}

small {
  color: red;
}

label {
  color: white;
}

.alert {
  color: #D8000C;
  /* Red color for error text */
  background-color: #FFBABA;
  /* Light red background for emphasis */
  border: 1px solid #D8000C;
  /* Red border to match the theme */
  padding: 10px;
  border-radius: 5px;
  /* Rounded corners for a softer look */
  font-weight: bold;
  font-size: 14px;
  margin-top: 10px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}