.container {
  background-image: url('assets/images/login.png');
  background-size: cover;
  background-position: center center;
  /* Center the image */
  height: 175vh;
  /* Make it take the full height of the viewport */
  width: 100%;
  position: relative;
  overflow: hidden;
  /* position:fixed; */
}

nav.home-nav {
  position: absolute;
  top: 25px;
  left: 1111px;
  width: 100%;
  padding: -1px 20px;
}

h1.search {
  position: fixed;
  top: 12px;
  right: -64px;
  width: 100%;
  padding: 12px 19px;
  font-size: larger;
  color: darkblue;
}

form.ng-untouched.ng-pristine.ng-invalid {
  padding: 209px 0px 0px 522px;
}

.hidden {
  display: none;
}

#login {
  BACKGROUND: none;
  border: none;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: darkblue;
}

#register {
  BACKGROUND: none;
  border: none;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: darkblue;
}

#searchflight {
  /* BACKGROUND: none; */
  BACKGROUND: none;
  border: none;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: darkblue;
  position: absolute;
  top: 0px;
  left: -1104px;
}

#logout {
  BACKGROUND: none;
  border: none;
  font-size: large;
  color: darkblue;
}

.searchpage {
  font-size: xxx-large;
  display: grid;
  ;
  place-items: center;
  height: 100vh;
  color: white;
}

b#welcome {
  font-size: large;
  margin-left: -55px;
  color: darkgreen;
}

button#about {
  /* BACKGROUND: none; */
  BACKGROUND: none;
  border: none;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: darkblue;
  position: absolute;
  top: 0px;
  left: -964px;
}

button#contact {
  /* BACKGROUND: none; */
  BACKGROUND: none;
  border: none;
  border-radius: 7px;
  border: none;
  font-size: large;
  color: darkblue;
  position: absolute;
  top: 0px;
  left: -862px;
}